@import "../../styles/color";
@import "../../styles/mixins";
@import "../../styles/variables";

.register {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: $surface;

    @include sm {
      padding: $padding-sm;
    }

    @include md {
      padding: $padding-md;
    }

    @include lg {
      padding: $padding-lg;
    }

    @include xl {
      padding: $padding-lg;
    }
  }

  &__box {
    &__container {
      justify-content: center;
      align-items: center;
      padding: 1.6rem;
      border-radius: 0.4vw;
      background-color: #fff;
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
