$primary: #236c2d;
$primaryHover: #236c2dc0;
$primaryDisabled: #236c2d79;
$onPrimary: #ffffff;
$primaryContainer: #a8f5a5;
$onPrimaryContainer: #002105;
$secondary: #52634f;
$onSecondary: #ffffff;
$secondaryContainer: #d5e8cf;
$onSecondaryContainer: #101f10;
$tertiary: #39656b;
$tertiaryHover: #39656bc0;
$tertiaryDisabled: #39656b79;
$onTertiary: #ffffff;
$tertiaryContainer: #bcebf1;
$onTertiaryContainer: #001f23;
$error: #ba1a1a;
$errorHover: #ba1a1ac0;
$errorDisabled: #ba1a1a79;
$onError: #ffffff;
$errorContainer: #ffdad6;
$onErrorContainer: #410002;
$backgroundColor: #fcfdf6;
$onBackgroundColor: #1a1c19;
$surface: #fcfdf7;
$onSurface: #1a1c19;
$surfaceVariant: #dee5d9;
$onSurfaceVariant: #424940;
$outlineColor: #72796f;

:export {
  primary: $primary;
  primaryHover: $primaryHover;
  primariDisabled: $primaryDisabled;
  onPrimary: $onPrimary;
  primaryContainer: $primaryContainer;
  onPrimaryContainer: $onPrimaryContainer;
  secondary: $secondary;
  onSecondary: $onSecondary;
  secondaryContainer: $secondaryContainer;
  onSecondaryContainer: $onSecondaryContainer;
  tertiary: $tertiary;
  tertiaryHover: $tertiaryHover;
  tertiaryDisabled: $tertiaryDisabled;
  onTertiary: $onTertiary;
  tertiaryContainer: $tertiaryContainer;
  onTertiaryContainer: $onTertiaryContainer;
  error: $error;
  errorHover: $errorHover;
  errorDisabled: $errorDisabled;
  onError: $onError;
  errorContainer: $errorContainer;
  onErrorContainer: $onErrorContainer;
  backgroundColor: $backgroundColor;
  onBackgroundColor: $onBackgroundColor;
  surface: $surface;
  onSurface: $onSurface;
  surfaceVariant: $surfaceVariant;
  onSurfaceVariant: $onSurfaceVariant;
  outlineColor: $outlineColor;
}
