$primary: #3d9846;
$darkPrimary: #1e1e1e;
$onPrimary: #f2f2f2;
$onPrimaryVariant: rgba($onPrimary, 0.7);
$secondary: #983e3d;
$surface: #f2f2f2;
$onSurface: #0e0e0e;
$subtitleOnSurface: #5f5f5f;
$border: #c9c9c9;
$headerBackground: #f7f7f7;

:export {
  primary: $primary;
  darkPrimary: $darkPrimary;
  onPrimary: $onPrimary;
  onPrimaryVariant: $onPrimaryVariant;
  secondary: $secondary;
  surface: $surface;
  onSurface: $onSurface;
  subtitleOnSurface: $subtitleOnSurface;
  borderColor: $border;
  headerBackgroundColor: $headerBackground;
}
