$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$dimension-sm: 1.6rem;
$dimension-md: 4rem;
$dimension-lg: 8rem;

$padding-sm: 1.6rem;
$padding-md: 0.4rem 4rem;
$padding-lg: 0.4rem 8rem;

:export {
  $screen-sm-min: $screen-sm-min;
  $screen-md-min: $screen-md-min;
  $screen-lg-min: $screen-lg-min;
  $screen-xl-min: $screen-xl-min;
  $dimension-sm: $dimension-sm;
  $dimension-md: $dimension-md;
  $dimension-lg: $dimension-lg;
  $padding-sm: $padding-sm;
  $padding-md: $padding-md;
  $padding-lg: $padding-lg;
}
