@import "../../styles/color";
@import "../../styles/variables";
@import "../../styles/mixins";

.sticky {
  position: sticky;
  transition: position;
  animation: myTransition 0.5s ease;
  -moz-animation: myTransition 0.5s ease;
  -webkit-animation: myTransition 0.5s ease;
  background-color: $backgroundColor;
  color: $onBackgroundColor;
  top: 0;
  border-bottom: 0.1vw solid $outlineColor;
}

@keyframes myTransition {
  from {
    top: -10%;
  }
  to {
    top: 0;
  }
}

@-moz-keyframes myTransition {
  from {
    top: -10%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes myTransition {
  from {
    top: -10%;
  }
  to {
    top: 0;
  }
}

.header {
  &__main {
    &__container {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      display: flex;
      flex-direction: row;
      background-color: $backgroundColor;
      color: $onBackgroundColor;

      z-index: 10;

      @include sm {
        padding: $padding-sm;
      }

      @include md {
        padding: $padding-md;
      }

      @include lg {
        padding: $padding-lg;
      }

      @include xl {
        padding: $padding-lg;
      }
    }
  }
}

#sub-header {
  &-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;

    a {
      color: $onPrimary;
    }

    @include sm {
      display: none;
    }

    @include md {
      display: none;
    }

    @include lg {
      padding: $padding-lg;
      display: flex;
    }

    @include xl {
      padding: $padding-lg;
      display: flex;
    }
  }
}

.link__container {
  align-items: center;
  color: $onPrimary;
}

.small-devices-title {
  @include sm {
    display: none;
  }
}
