@import "../../../styles/color";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.authenticated {
  &__header {
    &__container {
      background-color: $tertiary;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 8vh;
      color: $onTertiary;
      border-bottom: 0.1vw solid $outlineColor;

      @include sm {
        padding: $padding-sm;
      }

      @include md {
        padding: $padding-md;
      }

      @include lg {
        padding: $padding-lg;
      }

      @include xl {
        padding: $padding-lg;
      }
    }
  }
}
