@import "../../styles/color";
@import "../../styles/mixins";
@import "../../styles/variables";

.marketplace-container {
  width: 100%;
  min-height: 100vh;
}

.marketplace {
  &-body {
    width: 100%;
    min-height: 100vh;
    background-color: $backgroundColor;
    color: $onBackgroundColor;
    @include sm {
      padding: $padding-sm;
    }
    @include md {
      padding: $padding-md;
    }
    @include lg {
      padding: $padding-lg;
    }
    @include xl {
      padding: $padding-lg;
    }
  }
}

.marketplace-banner-container {
  width: 100%;
  background-color: $backgroundColor;
  color: $onBackgroundColor;
  @include sm {
    padding: $padding-sm;
  }
  @include md {
    padding: $padding-md;
  }
  @include lg {
    padding: $padding-lg;
  }
  @include xl {
    padding: $padding-lg;
  }
}

#product {
  &-detail-container {
    color: $onBackgroundColor;
    @include sm {
      padding: $padding-sm;
    }
    @include md {
      padding: $padding-md;
    }
    @include lg {
      padding: $padding-lg;
    }
    @include xl {
      padding: $padding-lg;
    }
  }
}

.products-row {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
